################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
/SchoolMgmt/packages
*bin
*obj
*.cr
